body {
    background-color: #252a34;
}

h2, h1, p {
    color: #eaeaea;
}

a {
    color: #ff2e63;
}

a:hover {
    text-decoration: none;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.active {
    color: #252a34;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
}

.btn {
    background-color: #ff2e63;
    color: #eaeaea;
}


.form-input {
    outline: none;
    border: none;
    width: 100%;
    margin: 5px 0;
    height: 50px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.form-input:hover {
    border-bottom: 2px solid #ff2e63;
    box-shadow: 0px 2px 5px black;
}

.form-input::placeholder {
    font-size: large;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
}

.navbar {
    background-color: #ff2e63;
    box-shadow: 0px 2px 5px black;
}

.navbar a:hover {
    text-decoration: none;
    color: #eaeaea;
    opacity: 0.7;
}

.default {
    color: #eaeaea;
    font-weight: bold;
}

.navbar-toggler::after {
    content: "|||";
}

.taskbox {
    background-color: #ff2e63;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    width: 35%;
    padding: 1.5%;
}

.taskdiv, .newtaskdiv {
    margin: 10px 0;
    box-shadow: 0px 2px 5px black;
    background-color: #252a34;
    opacity: 0.9;
    border-radius: 10px;
    padding: 3px 0;
}


.taskdiv:hover {
    border: #ff2e63 3px solid;
}

.taskdiv input, .newtaskdiv input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 75%;
    height: 40px;
    color: #eaeaea;
    font-weight: bold;
    margin: 0;
    font-size: 1.2rem;
}

.newtaskdiv input {
    width: 80%;
}

.taskdivbuttons {
    display: inline-block;
    background-color: #252a34;
}

#donebtn {
    margin-left: 20px;
    margin-right: 20px;
}

.taskdivbuttons button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #eaeaea;
    padding: 0;
    font-size: 1.3rem;
}


#addButton {
    background-color: #eaeaea;
    padding: 2px 9px;
    border-radius: 50%;
    color: #252a34;
    font-weight: 700;
    font-size: 1.1rem;
}

#addButton:hover {
    color: #ff2e63;
}

.strikeout {
    text-decoration-line: line-through;
    text-decoration-color: #eaeaea;
    opacity: 0.3;
}

@media screen and (max-width:900px) {
    .taskbox {
        width: 93%;
        padding:15px 10px;
    }

    .taskdiv input {
        width: 70%;
    }

    #donebtn {
        margin-left: 10px;
    }

    .active {
        background-color: transparent;
    }

    .vertical-center {
        min-height: 100%;
        min-height: 80vh;
        display: flex;
        align-items: center;
    }
}